{% extends 'index.html' %}
{% block content %}
<div class="row">
	<div class="card col-md-3" style="width: 30%; margin-top: 1%; height: 90%; margin-left: 6%">
	<img class="card-img-top" src="../Media/index.jpg" alt="image">
	<div class="card-body">
		<h4 class="card-title" style="color: red;">Thriveni</h4>
		 <p class="card-text">B.Tech </p>
		 <p>Computer Science and Engineering</p>
		 <p class="card-text">IIIT BASAR</p>
		 <a href="#">mashamthriveni@gmail.com</a>
	</div>	
	</div>
	<div class="col-md-1"></div>
	<div class="card col-md-3" style="width: 30%; margin-top: 1%; height: 90%;">
	<img class="card-img-top" src="../Media/index.jpg" alt="image">
	<div class="card-body">
		<h4 class="card-title" style="color: red;">Manju Sri</h4>
		<p class="card-text" >B.Tech </p>
		 <p>Computer Science and Engineering</p>
		  <p class="card-text">IIIT BASAR</p>
		 <a href="#">manjusri@gmail.com</a>
	</div>	
	</div>
	<div class="col-md-1"></div>
	<div class="card col-md-3" style="width: 30%; margin-top: 1%; height: 90%;">
	<img class="card-img-top" src="../Media/index.jpg" alt="image">
	<div class="card-body">
		<h4 class="card-title" style="color: red;">Gayathri</h4>
		 <p class="card-text">B.Tech </p>
		 <p>Computer Science and Engineering</p>
		  <p class="card-text">IIIT NUZIVID</p>
		 <a href="#">gayathri@gmail.com</a>
	</div>	
	</div>
	
</div>
{% endblock content %}